body {
  background-color: #40403E;
}

#gameContainer {
  margin: 30px auto;
  width: 70%;
  max-width: 500px;
}

/****
COLORS
******/
.color1 {
  background-color: #EB380F;
}

.color2 {
  background-color: #E98C1C;
}

.color3 {
  background-color: #F1D40E;
}

.color4 {
  background-color: #00D467;
}

.color5 {
  background-color: #0096D4;
}

.color6 {
  background-color: #6B00D2;
}

/*****
TITLE
*****/
#title h1 {
  color: #D9BCA6;
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
  font-size: 60px;
  color: silver;
  margin-top: 20px;
  margin-bottom: 0;
}

/****
PROMPT
****/
#promptContainer {
  height: 60px;
  border: 1px solid silver;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

#promptContainer .color {
  height: 40px;
  width: 40px;
  margin: 5px;
}

/****
USER INPUT
*****/
#userInputContainer {
  border: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
}

#userInputContainer.correct {
  border: 1px solid green;
}

#userInputContainer.incorrect {
  border: 1px solid red;
}

#userInputContainer .color {
  width: 55px;
  height: 55px;
  margin: 5px;
}

/*****
INFO CONTAINER
******/
#infoContainer {
  height: 60px;
}

/****
SCORE
****/
#scoreContainer span {
  color: #F1EDEA;
  font-family: 'Allerta Stencil', sans-serif;
}

/****
COLOR PALETTE
****/
#colorPaletteContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#colorPaletteContainer .color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

#infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




/*** OPEN SCREEN ***/
#openScreen {
  width: 100%;
  height: 100%;
  background-color: #40403E;
  position: absolute;
}

#openScreen.hidden {
  display: none;
}

#spinningSquares {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#spinningSquares .color {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}

#spinningSquares .color:hover {
  transition: all .4s ease;
  -webkit-transition: all .9s ease;
  transform: rotate(90deg);
}

#playOptions {
  display: flex;
  justify-content: center;
}

.playGame {
  height: 50px;
  width: 100px;
  color: silver;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 10px;
  cursor: pointer;
}

.playGame:hover {
  background-color: silver;
  color: #40403E;
}